/* martian-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/martian-mono-v3-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* martian-mono-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/martian-mono-v3-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* martian-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/martian-mono-v3-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*  Colour variables */
:root {
  --glow: #99c9da;
  --neutral-0: #ffffff;
  --light-blue: #9cc9da;
  --neutral-100: #faf5f3;
  --neutral-200: #e6e1df;
  --neutral-700: #385159;
  --neutral-900: #062630;
  --light-salmon-50: #fff5ef;
  --light-salmon-100: #ffe2d1;
  --light-salmon-500: #fea36f;
  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
}

/* Font / Spacing */
:root {
  --reg: 1rem;
  --font-lg: 2.5rem;
  --percent: 100%;
  --space-md: 4rem;
  --space-lg: 7.5rem;
  --font-regular: 400;
  --space-sm: 1.5rem;
  --font-md: 2.125rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Martian Mono", serif;
}

h2,
h3 {
  color: var(--neutral-900);
}

h1 {
  font-size: clamp(
    2.375rem,
    1.5991379310344829rem + 3.3103448275862064vw,
    3.875rem
  );
}

h2 {
  font-size: clamp(
    2.125rem,
    1.6704545454545454rem + 1.9393939393939394vw,
    3.125rem
  );
}

h3 {
  font-size: clamp(
    1.5rem,
    1.2159090909090908rem + 1.2121212121212122vw,
    2.125rem
  );
}

p {
  font-family: "Inter";
  color: var(--neutral-700);
  font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
}

.tech-grid {
  display: grid;
  column-gap: var(--reg);
  grid-template-columns: 0.1rem repeat(4, calc((375px - 20px - 16px * 4) / 4)) 0.1rem;
}

.header {
  min-height: 1100px;
  background-image: url(/Assets/pattern-light-bg.svg),
    linear-gradient(150deg, var(--neutral-100) 80%, var(--glow));

  & .navbar {
    grid-column: 2;
    padding-block-start: calc(var(--space-sm) + 0.3125rem);
  }
}

.info {
  grid-column: 2 / -1;

  & h1 {
    width: var(--percent);
    letter-spacing: -0.5px;
  }

  & p {
    letter-spacing: -0.5px;
    margin-top: var(--space-sm);
    line-height: calc(var(--percent) + 40%);
  }
}

.heading-gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-image: var(--text-gradient);
}

.button {
  border: 0;
  display: flex;
  cursor: pointer;
  font-family: inherit;
  flex-direction: row;
  font-size: var(--reg);
  align-items: center;
  letter-spacing: -1px;
  color: var(--neutral-900);
  text-transform: uppercase;
  margin-top: calc(var(--reg) * 2);
  border-radius: calc(var(--reg) / 2);
  border: 2px solid var(--neutral-900);
  padding: var(--reg) vaR(--space-sm);
  column-gap: calc(var(--reg) - 0.3125rem);
  background-color: var(--light-salmon-50);
  font-weight: calc(var(--font-regular) + 200);

  &:hover {
    background: var(--gradient);
    box-shadow: 0 0 0 3px var(--light-salmon-50), 0 0 0 5px var(--neutral-700);
  }
}

.developers {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  margin-top: calc(var(--reg) + 0.25rem);
  column-gap: calc(var(--reg) - 0.25rem);

  & .stars {
    margin: var(--reg) 0 0 0;
  }

  & .devs-joined {
    position: relative;
    letter-spacing: -1px;
    color: var(--neutral-700);
    bottom: var(--space-sm);
    font-family: "Martian Mono", serif;
    font-size: calc(var(--reg) - 0.125rem);
  }
}

.mobile-images {
  top: -40px;
  position: relative;
  border-radius: 5.08px;
}

.desktop-read {
  display: none;
}

/* Reading section */
.read-together {
  margin-top: calc(var(--font-md) + 0.37rem);
}

.grow-together {
  grid-column: 2 / -2;

  & h2 {
    text-align: left;
    margin-bottom: var(--space-sm);
  }
}

.icon-check {
  display: flex;
  margin: 20px 0;
  letter-spacing: -0.5px;
  gap: calc(var(--reg) - 0.125rem);
}

.read {
  grid-column: 2 / -2;
}

.readers {
  border-radius: calc(var(--reg) / 2);
  margin-block-start: var(--font-md);
}

/* Book Club */
.book-club {
  min-height: 682.5px;
}

.average {
  grid-column: 2 / -2;
  padding-block-start: var(--space-md);

  & p {
    letter-spacing: -0.5px;
    margin-top: var(--space-sm);
    line-height: calc(var(--percent) + 40%);

    & .circle {
      background-image: url(/Assets/pattern-circle.png);
    }
  }
}

.not-average {
  display: none;
}

/* Tech reading */
.journey {
  grid-column: 2 / -2;
  padding-inline: var(--reg);
  margin-top: var(--space-md);
  padding-bottom: var(--space-md);
  border-radius: calc(var(--reg) - 0.25rem);
  background-image: url(/Assets/pattern-light-bg.svg),
    linear-gradient(150deg, var(--neutral-100) 70%, var(--glow));

  & h2 {
    letter-spacing: -2px;
    width: var(--percent);
    padding-block-start: var(--font-lg);
    line-height: calc(var(--percent) + 30%);
  }
}

.tech-container {
  margin-top: calc(var(--space-sm) + 0.375em);
}

.arrows {
  display: none;
}

.tech-contents {
  color: var(--neutral-900);
  font-weight: calc(var(--font-regular) + 200);
}

.tech-contents > * {
  letter-spacing: -1px;
  color: var(--neutral-900);
  font-family: "Martian Mono", serif;
  line-height: calc(var(--percent) + 30%);
}

.number-box {
  display: flex;
  margin: 28px 0;
  align-items: center;
  justify-content: center;
  width: calc(var(--reg) * 2);
  height: calc(var(--reg) * 2);
  border-radius: calc(var(--reg) / 4);
  border: 2.5px solid var(--neutral-900);
}

/* Memberships */
.members-heading {
  grid-column: 2;
  margin-top: var(--space-md);
}

.memberships {
  display: grid;
  grid-column: 2 / -2;
  row-gap: var(--space-sm);
  padding-block-start: calc(var(--font-md) - 0.25em);
}

/* options */
.options {
  grid-column: 1;
  padding: var(--space-sm);
  border-radius: calc(var(--reg) / 2);
  border: 1px solid var(--neutral-200);

  & h3 {
    margin-bottom: var(--space-sm);
  }

  & .line {
    color: var(--neutral-200);
  }

  & .fees {
    display: flex;
    justify-items: center;
    gap: calc(var(--reg) / 2);
    margin-bottom: var(--space-sm);

    & p {
      align-self: center;
    }
  }
}

.pro {
  background: linear-gradient(150deg, var(--neutral-100) 50%, var(--glow));
}

.starter {
  grid-column: 2 / -2;
}

.enterprise > h2 {
  margin-bottom: var(--space-sm);
}

.subscribe {
  border: none;
  cursor: pointer;
  width: fit-content;
  font-size: var(--reg);
  padding: 17px 75px;
  letter-spacing: -1px;
  color: var(--neutral-900);
  text-transform: uppercase;
  font-family: "Martian Mono";
  border-radius: calc(var(--reg) / 2);
  border: 2px solid var(--neutral-900);
  line-height: calc(var(--percent) + 30%);
  font-weight: calc(var(--font-regular) + 200);
  background-color: var(--light-salmon-50);
}

.subscribe:hover {
  background: var(--gradient);
  box-shadow: 0 0 0 3px var(--light-salmon-50), 0 0 0 5px var(--neutral-700);
}

/* Five star review */
.five-stars {
  grid-column: 2 / -1;
  gap: calc(var(--reg) * 2);
  padding-block-start: var(--space-md);
}

.review-text > h3 {
  margin: 32px 0;
  letter-spacing: -1px;
  line-height: calc(var(--percent) + 10%);
  font-weight: calc(var(--font-regular) + 200);
}

.review-text {
  grid-column: 2 / -2;
}

.reviewer {
  letter-spacing: -0.5px;
  text-transform: capitalize;
}

/* Footer */
.regrid {
  display: grid;
  grid-column: 1 / -1;
  column-gap: var(--space-sm);
  grid-template-columns: 0.5rem repeat(4, calc((375px - 64px - 24px * 3) / 4)) 0.5rem;
}

.contents {
  z-index: -1;
  grid-column: 1 / -1;
  padding: 48px 16px;
  color: var(--neutral-0);
  border-radius: 20px 20px 0 0;
  background-color: var(--neutral-900);
  margin-top: calc(var(--font-lg) + 1.2rem);
  background-image: url(/Assets/pattern-dark-bg.svg);
}

.contents > h1 {
  text-align: center;
  letter-spacing: -2px;
  font-size: var(--font-md);
  margin-block-end: var(--font-lg);
}

.footer-button {
  margin: 0 auto;
  cursor: pointer;
  color: var(--neutral-0);
  border: 2px solid #fff;
  background-color: var(--neutral-900);
}

.developers {
  margin-block-end: var(--space-md);
}

.divider {
  height: 1px;
  color: var(--neutral-700);
}

.tech,
.tech-gurus {
  font-size: 14px;
  letter-spacing: -1px;
  color: var(--neutral-0);
  font-family: "Martian Mono";
  line-height: calc(var(--percent) + 20%);
}

.tech {
  text-align: center;
  padding-block-start: var(--space-sm);
}

.icons {
  text-align: center;
  align-items: center;
  margin-top: var(--reg);
}

.bluesky,
.linkedin {
  width: var(--space-sm);
  height: var(--space-sm);
}

/* Tablet Styles */
@media (width >= 48em) {
  .tech-grid {
    column-gap: var(--space-sm);
    grid-template-columns: 0.1rem repeat(8, calc((786px - 32px - 24px * 8) / 8)) 0.1rem;
  }

  .header {
    min-height: 1557px;
  }

  .info > h1 {
    max-width: calc(var(--percent) - 30%);
  }

  .info > p {
    max-width: 53.5ch;
  }

  .developers {
    grid-template-columns: repeat(6, 1fr);
  }

  .stars {
    grid-column: 2 / -1;
  }

  .review {
    font-size: calc(var(--reg) + 0.125rem);
  }

  .picture {
    grid-column: 2;
    width: var(--percent);
    background: url(Images/pattern-glow.svg);
  }

  .tablet-image {
    border-radius: calc(var(--font-lg) + 10rem);
  }

  /* Reading section */
  .read-header {
    max-width: calc(var(--percent) - 40%);
  }

  .average > h2 {
    max-width: calc(var(--percent) - 30%);
  }

  .not-average {
    display: none;
  }

  .tablet-logo {
    top: 500px;
    right: 200px;
    position: relative;
  }

  /* Tech reading / Journey */
  .journey {
    grid-column: 2 / 10;
    padding-inline: calc(var(--reg) * 2);
  }

  /* Memberships */
  .memberships {
    display: grid;
    gap: calc(var(--reg) + 0.25rem);
    grid-template-columns: repeat(2, 347px);
  }

  .members-heading {
    grid-column: 2 / -1;
  }

  .options > * {
    align-items: center;
  }

  .starter {
    grid-row: 1;
    grid-column: 1;
    position: relative;
  }

  .pro {
    grid-row: 1;
    grid-column: 2;
  }

  .enterprise {
    grid-row: 2;
  }

  /* Review section */
  .review-text > h3 {
    max-width: 29ch;
    letter-spacing: -1px;
    font-size: var(--font-md);
    line-height: calc(var(--percent) + 30%);
  }

  /* Footer */
  .regrid {
    grid-column: 1 / -1;
    column-gap: var(--space-sm);
    grid-template-columns: 8px repeat(8, calc((768px - 64px - 24px * 7) / 8)) 8px;
  }

  .contents {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 88px);

    & h1 {
      grid-column: 2 / 8;
    }
  }

  .contents > * {
    grid-column: 1 / -1;
  }

  .footer-button {
    margin: 0 auto;
    grid-column: 3 / 7;
  }

  .developers {
    left: 10px;
    position: relative;
    grid-column: 3 / 9;
    align-items: center;
  }

  .footer-base {
    display: flex;
    justify-content: space-between;
  }
}

/* Desktop */
@media (width >= 1200px) {
  .tech-grid {
    grid-template-columns:
      105px repeat(12, calc((100% - 70px - 30px * 12) / 11))
      105px;
    column-gap: calc(var(--space-sm) + 0.375rem);
  }

  .header {
    min-height: 834px;
    width: var(--percent);

    & .navbar {
      grid-row: 1;
      grid-column: 2;
    }
  }

  .button {
    padding: var(--reg) 45px;
  }

  .picture {
    display: none;
  }

  .header-text {
    grid-row: 1;
    grid-column: 2 / 7;
    margin-top: 137px;
    align-items: center;

    & h1 {
      max-width: var(--percent);
    }

    & p {
      max-width: calc(var(--percent) - 10%);
    }
  }

  .developers {
    align-items: start;
    justify-content: start;
  }

  .stars > p {
    max-width: var(--percent);
  }

  .desktop {
    grid-row: 1;
    grid-column: 7;
    position: relative;
    left: var(--font-lg);
    top: calc(var(--font-lg) * 2.5);
    border-radius: calc(var(--reg) - 0.375rem);
  }

  .desktop-image {
    display: block;
    border-radius: calc(var(--reg) / 2);
  }

  /* Readers section */
  .desktop-read {
    display: block;
    grid-column: 2;
    border-radius: calc(var(--reg) + 0.25rem);
  }

  .read-together {
    margin-top: calc(var(--font-lg) * 2.5);
  }

  .grow-together {
    align-self: center;
    grid-column: 8 / -1;
  }

  .check-text > p {
    max-width: 30ch;
  }

  .read {
    display: none;
  }

  .read,
  .readers {
    display: none;
  }

  .not-average {
    display: block;
    align-self: center;
    position: relative;
    grid-column: 7 / -1;
    border-radius: calc(var(--reg) + 0.25rem);
  }

  .average {
    display: grid;
    grid-column: 2;
    align-self: center;
    grid-template-rows: repeat(2, 133px);
    grid-template-columns: repeat(6, 88.33px);

    & h2 {
      max-width: 30ch;
      grid-column: 1 / -1;
      letter-spacing: -2px;
      line-height: calc(var(--percent) + 30%);
    }

    & p {
      align-self: end;
    }
  }

  .desktop-logo {
    z-index: 1;
    top: 370px;
    left: 440px;
    position: relative;
  }

  .header-club {
    grid-column: 2 / 7;
    width: var(--percent);
  }

  .average > * {
    grid-column: 1 / -1;
  }

  .average,
  .not-average {
    margin-top: calc(var(--font-lg) + 0.625);
  }

  .logos {
    display: none;
  }

  .tech-logos {
    z-index: 1;
    left: 400px;
    top: 450px;
    position: relative;
  }

  /* Tech reading */
  .journey {
    grid-column: 2 / 12;

    & h2 {
      margin: auto;
      max-width: 15ch;
      text-align: center;
    }
  }

  .tech-container {
    display: flex;
    justify-content: center;
  }

  .arrows {
    top: 45px;
    display: block;
    position: relative;
    right: calc(var(--font-lg) * 2.5);
  }

  .tech-contents > p {
    width: var(--percent);
  }

  .members-heading {
    position: relative;
    margin-top: 99px;
    grid-column: 4 / -1;
    left: calc(var(--font-md) + 0.125rem);
  }

  .memberships {
    display: grid;
    margin: 0 auto;
    grid-column: 3;
    align-items: center;
    gap: calc(var(--reg) + 0.25rem);
    grid-template-columns: repeat(9, 97px);
  }

  .grid {
    padding-block-start: var(--space-md);
  }

  .pro {
    left: 73px;
    width: 350px;
    height: 390px;
    grid-column: 3;
    position: relative;
    padding: 40px 24px;
  }

  .starter,
  .enterprise {
    width: 286px;
    height: 356px;
  }

  .starter {
    grid-column: 1;
  }

  .starter-button,
  .enterprise-button {
    position: absolute;
  }

  .starter-button {
    padding: 15px 43px;
  }

  .enterprise {
    right: var(--space-sm);
    grid-column: 7;
    position: relative;
  }

  .enterprise-button {
    display: flex;
    width: fit-content;
    padding: 15px 55px;
    letter-spacing: -1px;
  }

  .fees > h2 {
    font-size: var(--font-md);
  }

  .custom {
    font-size: var(--font-md);
  }

  .options > h3 {
    font-size: var(--space-sm);
  }

  .enterprise {
    grid-row: 1;
  }

  /* Five star review */
  .five-stars {
    grid-column: 6 / -1;
    margin-top: var(--font-lg);
  }

  .review-text {
    grid-column: 3 / 11;

    & h3 {
      max-width: 65ch;
      text-align: center;
    }
  }

  .reviewer {
    text-align: center;
  }

  /* Desktop Footer */
  body {
    overflow-x: hidden;
  }

  .regrid {
    grid-template-columns:
      0.25rem repeat(12, calc((100% - 70px - 30px * 11) / 12))
      0.25rem;
    column-gap: calc(var(--space-sm) + 0.375rem);
  }

  .contents {
    display: grid;
    grid-template-columns: repeat(10, 144px);
  }

  .contents > h1 {
    grid-column: 3 / 9;
    font-size: calc(var(--font-lg) + 0.625rem);
  }

  .footer-button {
    margin: 0 auto;
    text-align: center;
    grid-column: 3 / 9;
  }

  .footer-button:hover {
    cursor: pointer;
    background: linear-gradient((var(--neutral-700), var(--neutral-900)));
  }

  .developers {
    display: flex;
    margin: var(--space-sm) auto;
  }

  .stars {
    position: relative;
    bottom: calc(var(--space-sm) - 0.25rem);
  }

  .divider {
    margin: 0 auto;
    width: calc(var(--percent) - 17%);
  }

  .footer-base {
    gap: 51em;
    justify-content: space-evenly;
  }
}
